.ui-autocomplete {
    z-index: 50000;
}


ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
}

.primary_menu {
    display: inline-block;
}


    .primary_menu > ul li:hover > ul {
        opacity: 1;
        visibility: visible;
        -webkit-transform: perspective(200px) translateZ(0px) translateY(0px) rotateX(0deg);
        -moz-transform: perspective(200px) translateZ(0px) translateY(0px) rotateX(0deg);
        -ms-transform: perspective(200px) translateZ(0px) translateY(0px) rotateX(0deg);
        -o-transform: perspective(200px) translateZ(0px) translateY(0px) rotateX(0deg);
        transform: perspective(200px) translateZ(0px) translateY(0px) rotateX(0deg);
        box-shadow: 0 7px 10px -2px rgb(0 0 0 / 25%);
    }

    .primary_menu > ul > li {
        display: inline-block;
        position: relative;
    }

        .primary_menu > ul > li > a {
            display: block;
            white-space: nowrap;
            margin: 0;
            padding: 0 20px;
            font-size: 16px;
            color: #fff;
            color: #ca8d31;
            line-height: 25px;
            text-decoration: none;
            border-bottom: 2px solid transparent;
            -webkit-transition: all 200ms ease-in-out;
            -moz-transition: all 200ms ease-in-out;
            -ms-transition: all 200ms ease-in-out;
            -o-transition: all 200ms ease-in-out;
            transition: all 200ms ease-in-out;
        }

            .primary_menu > ul > li > a:hover {
                color: black;
                /*border-bottom-color: #ff5a00;*/
            }

        .primary_menu > ul > li.menu-item-has-children > a {
            padding-right: 36px;
            position: relative;
        }

            .primary_menu > ul > li.menu-item-has-children > a:after {
                content: '';
                position: absolute;
                width: 6px;
                height: 6px;
                /*border-top: 2px solid #ff5a00;
                        border-right: 2px solid #ff5a00;*/
                top: 50%;
                right: 18px;
                margin-top: -5px;
                -moz-transform: rotate(135deg);
                -webkit-transform: rotate(135deg);
                -o-transform: rotate(135deg);
                -ms-transform: rotate(135deg);
                transform: rotate(135deg);
                -webkit-transition: all 200ms ease-in-out;
                -moz-transition: all 200ms ease-in-out;
                -ms-transition: all 200ms ease-in-out;
                -o-transition: all 200ms ease-in-out;
                transition: all 200ms ease-in-out;
            }

            .primary_menu > ul > li.menu-item-has-children > a:hover:after {
                border-color: black;
            }

        .primary_menu > ul > li.current-menu-item > a, .primary_menu > ul > li.current_page_item > a, .primary_menu > ul > li.current-menu-ancestor > a, .primary_menu > ul > li.current_page_ancestor > a {
            color: black;
            /*border-bottom-color: #ff5a00;*/
        }

            .primary_menu > ul > li.current-menu-item > a:after, .primary_menu > ul > li.current_page_item > a:after, .primary_menu > ul > li.current-menu-ancestor > a:after, .primary_menu > ul > li.current_page_ancestor > a:after {
                border-color: black;
            }

        .primary_menu > ul > li:not(:first-child) {
            margin: 0 0 0 20px;
        }

        .primary_menu > ul > li ul {
            opacity: 0;
            visibility: hidden;
            -webkit-transition: all 200ms ease-in-out;
            -moz-transition: all 200ms ease-in-out;
            -ms-transition: all 200ms ease-in-out;
            -o-transition: all 200ms ease-in-out;
            transition: all 200ms ease-in-out;
            -webkit-transform: perspective(200px) translateZ(0px) translateY(0px) rotateX(-90deg);
            -moz-transform: perspective(200px) translateZ(0px) translateY(0px) rotateX(-90deg);
            -ms-transform: perspective(200px) translateZ(0px) translateY(0px) rotateX(-90deg);
            -o-transform: perspective(200px) translateZ(0px) translateY(0px) rotateX(-90deg);
            transform: perspective(200px) translateZ(0px) translateY(0px) rotateX(-90deg);
            -webkit-transform-origin: top center;
            -moz-transform-origin: top center;
            -ms-transform-origin: top center;
            -o-transform-origin: top center;
            transform-origin: top center;
        }

        .primary_menu > ul > li > ul {
            position: absolute;
            z-index: 10;
            margin-top: 3px;
        }

            .primary_menu > ul > li > ul li.current-menu-item > a, .primary_menu > ul > li > ul li.current_page_item > a, .primary_menu > ul > li > ul li.current-menu-ancestor > a, .primary_menu > ul > li > ul li.current_page_ancestor > a {
                background: #cc4800 !important;
            }

            .primary_menu > ul > li > ul li.menu-item-has-children > a {
                /*padding-right: 36px;*/
                position: relative;
            }

                .primary_menu > ul > li > ul li.menu-item-has-children > a:after {
                    content: '';
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    border-top: 2px solid #fff;
                    border-right: 2px solid #fff;
                    top: 50%;
                    right: 18px;
                    margin-top: -5px;
                    -moz-transform: rotate(135deg);
                    -webkit-transform: rotate(135deg);
                    -o-transform: rotate(135deg);
                    -ms-transform: rotate(135deg);
                    transform: rotate(135deg);
                    -webkit-transition: all 200ms ease-in-out;
                    -moz-transition: all 200ms ease-in-out;
                    -ms-transition: all 200ms ease-in-out;
                    -o-transition: all 200ms ease-in-out;
                    transition: all 200ms ease-in-out;
                }

            .primary_menu > ul > li > ul li ul {
                -webkit-transform: perspective(100px) translateZ(0px) translateY(0px) rotateY(90deg);
                -moz-transform: perspective(100px) translateZ(0px) translateY(0px) rotateY(90deg);
                -ms-transform: perspective(100px) translateZ(0px) translateY(0px) rotateY(90deg);
                -o-transform: perspective(100px) translateZ(0px) translateY(0px) rotateY(90deg);
                transform: perspective(100px) translateZ(0px) translateY(0px) rotateY(90deg);
                -webkit-transform-origin: top left;
                -moz-transform-origin: top left;
                -ms-transform-origin: top left;
                -o-transform-origin: top left;
                transform-origin: top left;
            }

            .primary_menu > ul > li > ul > li {
                position: relative;
            }

                .primary_menu > ul > li > ul > li > a {
                    display: block;
                    white-space: nowrap;
                    margin: 0;
                    padding: 0px;
                    font-size: 16px;
                    color: #fff;
                    line-height: 20px;
                    text-decoration: none;
                    background: #fff;
                    -webkit-transition: all 200ms ease-in-out;
                    -moz-transition: all 200ms ease-in-out;
                    -ms-transition: all 200ms ease-in-out;
                    -o-transition: all 200ms ease-in-out;
                    transition: all 200ms ease-in-out;
                }

                    .primary_menu > ul > li > ul > li > a:hover {
                        background: #fff;
                    }

                .primary_menu > ul > li > ul > li.current-menu-item > a, .primary_menu > ul > li > ul > li.current_page_item > a {
                    background: #cc4800;
                }

                .primary_menu > ul > li > ul > li ul {
                    position: absolute;
                    z-index: 10;
                    left: 100%;
                    top: 0;
                }

                    .primary_menu > ul > li > ul > li ul li {
                        position: relative;
                    }

                        .primary_menu > ul > li > ul > li ul li a {
                            display: block;
                            white-space: nowrap;
                            margin: 0px;
                            /*padding: 5px 10px;*/
                            font-size: 16px;
                            color: #808080;
                            line-height: 20px;
                            text-decoration: none;
                            background: #fff;
                            -webkit-transition: all 200ms ease-in-out;
                            -moz-transition: all 200ms ease-in-out;
                            -ms-transition: all 200ms ease-in-out;
                            -o-transition: all 200ms ease-in-out;
                            transition: all 200ms ease-in-out;
                            width: 280px;
                        }

                            .primary_menu > ul > li > ul > li ul li a:hover {
                                background: rgba(202, 141, 49, 0.2) !important;
                                color: #ca8d31;
                                width: 280px;
                            }

                        .primary_menu > ul > li > ul > li ul li.current-menu-item a, .primary_menu > ul > li > ul > li ul li.current_page_item a {
                            background: #cc4800;
                        }

.dropdown-item {
    border-bottom: 1px solid #cec8c8 !important;
    color: #808080;
    cursor: pointer !important;
}

    .dropdown-item:hover {
        background:rgba(202, 141, 49, 0.2)!important;
        color: #CA8D31 !important;
        border-left: 4px solid #CA8D31 !important;
    }

/*.dropdown-toggle {
    border: 2px solid #000000;
    padding: 8px;
}*/
.hidden {
    display: none;
}
body {
    font-family: 'Sofia Pro Regular Az' !important;
    color: #000 !important;
}