s
.table-bordered {
    border: 1px solid #dee2e6;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

table {
    border-collapse: collapse;
    vertical-align:middle;
    align-items:center;
}
.img-width {
    width: 20px !important;
    height: 20px !important;
}
.submitProducts{
    border-radius:8px!important;
}
#refiltableCon tr th {
    font-weight: 300;
    font-size: 14px !important;
    color: #000000;
    border-top: 0px !important;
}
body {
    font-family: 'Sofia Pro Regular Az' !important;
    color: #000 !important;
}
