label {
    font-family: 'Sofia Pro Regular Az';
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    margin: 8px 0px;
    display: block;
    text-align: left;
}

.text-size {
    font-size: 18px;
}

.fw-bold {
    font-weight: bold;
}

.Discount {
    /*color: #c54024;*/
}

.registerBut {
    background-color: #70b4bd !important;
    color: white !important;
    font-weight: bold !important;
    border: 2px solid #fff !important;
    padding: 9px 20px !important;
}

.card {
    border-radius: 1.25rem;
    background: #70b4bd;
}

#planename {
    color: white;
}

.subscripProduChoose {
    margin-top: 1%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 3% !important
}

.tester-add-cart {
    background-color: #70b4bd !important;
    color: white !important;
}

select {
    background: white !important;
}

.select2 {
    background: white !important;
    /*  margin-right: 3px !important;
            margin-left: 10px !important;*/
    width: auto;
    border-radius: 15px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b, .select2-selection__clear {
    display: none;
}
.popup-alert {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.popupcustom-alert-content {
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    position: relative;
    max-width: 400px;
    width: 350px;
    text-align: center;
    border-radius: 8px;
}

.popupclose-alert {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.popupalert-title {
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 13px;
}
.product-name, .brandNameLabel, .produtSize, .ProdctPriceLabel {
    color: white !important
}
    .brandName{
        text-decoration:underline !important;
    }
    .popupalert-message {
        font-size: 18px;
        margin-bottom: 20px;
    }

.popupok-button {
    padding: 3px 15px;
    background: #70b4bd !important;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.createSubscription {
    background: #70b4bd !important;
    color: white !important;
}
btn-primary:focus, .btn:focus {
    box-shadow: none !important;

}
form-control{
    width:80% !important;
}