.page-title{
   font-family: 'Sofia Pro Regular Az';
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 84px;
}
thead p{
    font-weight: 500;
   font-family: 'Sofia Pro Regular Az';
    font-size: 13px;
    line-height: 15.85px;
    letter-spacing: 0em;
    /* text-align: center; */
}
.quantity{
    border:1px solid#000;
    background-color: #fff;
    width: 104px;
  }
  .quantity i{
    font-size: 7px !important;
    padding: 7px 9px;
  }
  .quantity input{
    font-size: 12px !important;
    width: 52px;
    /* padding: 7px 22px; */
    text-align: center;
    border: 0px !important;
    border-left:1px solid #000 !important;
    border-right:1px solid #000 !important;
    border-radius: 0px;
  }
  .form-control:focus{
    border-color: #000;
    box-shadow: 0 0 0 0 rgba(0,0,0,0) !important;
  }
  .dec-btn, .inc-btn{
    border:0px !important;
    background-color: #fff;
    padding: 0px;
  }
  tr{
    border-bottom: 1px solid #000 !important;
  }
    
    tbody p{
        margin-bottom: 0px;
    }
  tbody a{
    font-size: 13px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    margin-bottom: 0px;
  }
  .prduct_categ{
    font-size: 10px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
  }
  input{
    font-size: 13px !important;
    padding: 8px 18px;
    height: 32px;
    width: 100%;
  }
  select{
    font-size: 12px !important;
    padding: 8px !important;

  }
  /* main buttons */
  .button-cart{
    background-color: #000 !important;
    color: #fff !important;
    width: 100% !important;
    border-radius: 0px !important;
    text-transform: initial !important;
  }
  .m-6{
    margin: 6px;
  }
  .cart-row{
    border-bottom: 1px solid #00000066;
    ;
  }
  .cart-titles{
    font-weight: 600;
    font-size: 13px;
    color: #00000099;
    margin-top: 14px;
  }
  .cart-price{
    text-align: right;
    font-size: 13px;
    font-weight: 400;
    margin-top: 14px;
  }
  .grand-price{
    text-align: right;
  }
  a.cart-btn{
    text-transform: initial !important;
    border: 0px !important;
    padding: 0px !important;
  }
  .form-labels{
   font-family: 'Sofia Pro Regular Az';
    font-size: 13px;
    font-weight: 400;
  }
#coupon{
    padding: 10px;
    border-top: 1px solid #00000066 !important;
}