.page-title{
   font-family: 'Sofia Pro Regular Az';
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 84px;
}
.para{
    width: 54% !important;
    margin: auto;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
}
.small-container .d-flex{
    display: flex!important;
    align-items: flex-end;
    justify-content: center;
}
.small-container input{
    width: 402px;
    margin-right: 10px;
    border-radius: 0px !important;
    height: 40px !important;
}
.small-container .btn{
    border-radius: 0px !important;
    padding: 12px 28px  !important;
    line-height: 14.63px;
}
@media (max-width: 700px){
    .small-container input{
        width: 250px;
    }
}
