.page-title{
   font-family: 'Sofia Pro Regular Az';
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 84px;
}
.customer-head{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}
.new-customer-col{
    background: #EEEDED;
    padding: 20px !important;
}
.new-customer-col p{
    margin-bottom: 0px;
}
.new-customer-col li{
    font-size: 14px;
}
.btn{
    color: #fff !important;
    background-color: #000 !important;
    border-radius: 0px !important;
    padding: 12px 37px !important;
}
.light-btn{
    font-size: 13px !important;
    background-color: #fff !important;
    color: #000 !important;
    line-height: 15.85px;
    padding: 0px !important;
    border: 0px !important;
    padding-left: 23px !important;
    text-transform: initial !important;
    line-height: 15.85px !important;
}
.dual-btns{
    display: flex;
    align-items: center;
    justify-content: center;
}