/* product detail page */

#product-thumbnails{
    padding: 0 10px;
  }
  #product-thumbnails .col-3{
    padding: 0px;
    margin-top: 20px;
  }
  #product-thumbnails .col-3 img{
    padding: 5px;
  }
  .product_name{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
  }
  .category_line{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .product-detail .sale_price{
    margin-right: 16px;
  }
  .pricing{
    margin-bottom: 17px;
  }
  .view_review{
    font-size: 13px;
    color: #000;
    line-height: 15.85px;
    padding-left: 11px;
    padding-right: 40px;
  }
  .wrt_review{
    font-size: 13px !important;
    font-weight: 300 !important;
    border: 0px !important;
    padding: 0px !important;
    text-transform: initial !important;
  }
  
  .hero_heading{
    background-color: #70b4bd ;
    padding: 24px 0px;
    text-align: center;
  }
  .bg-wedding{
    background: #3498db !important;
    --bs-progress-height : 2rem !important;
  }
  .bg-wedding2{
    background: #1ABC9C !important;
    --bs-progress-height : 2rem !important;
  }
  .bg-wedding3{
    background: #55EFC4 !important;
    --bs-progress-height : 2rem !important;
  }
  .bg-wedding4{
    background: #81ECEC !important;
    --bs-progress-height : 2rem !important;
  }
  .bg-wedding5{
    background: #C3C3C3 !important;
    --bs-progress-height : 2rem !important;
  }
  .bg-wedding6{
    background: #9B59B6 !important;
    --bs-progress-height : 2rem !important;
  }
  .bg-wedding7{
    background: #667B90 !important;
    --bs-progress-height : 2rem !important;
  }
  .progress .wedding p{
    
    padding: 6px !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 18px !important;
    letter-spacing: 0em;
    margin: 0px !important;
  }
  .progress.wedding{
    height: 30px;
    margin-bottom: 20px;
  }
  .progress.wedding p{
    margin-bottom: 0px !important;
  }
  .attr-heading{
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .sizes{
    font-size: 12px !important;
    line-height: 18px !important;
    padding: 7px 41px 7px 9px !important;
    width: 160px;
    margin-right: 40px;
  }
  .quantity{
    border:1px solid#000;
    background-color: #fff;
    width: 104px;
  }
  .quantity i{
    font-size: 7px !important;
    padding: 7px 9px;
  }
  .quantity input{
    font-size: 12px !important;
    width: 52px;
    /* padding: 7px 22px; */
    text-align: center;
    border-left:1px solid #000 !important;
    border-right:1px solid #000 !important;
    border-radius: 0px;
  }
  .form-control:focus{
    border-color: #000;
    box-shadow: 0 0 0 0 rgba(0,0,0,0) !important;
  }
  .dec-btn, .inc-btn{
    border:0px;
    background-color: #fff;
    padding: 0px;
  }
  i.fas.fa-star {
    color: #000 !important;
  }
  .cart-btns{
    margin-top:40px !important;
  }
  .cart-btns .btn{
    width: 160px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    padding: 7px;
    height: 31px;
    display: table-cell;
      border-radius: 0;
      text-transform: initial !important;
  }
  .carousel-thumbnails .thumbnails-list li {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .carousel-thumbnails .thumbnails-list li.active img {
    border: 2px solid #428bca;
  }
  
  .carousel-thumbnails .thumbnails-list li img {
    border: 2px solid transparent;
    max-height: 100px;
    max-width: 100%;
  }
      /* coupon box styles */
      .coupon-col{
        padding: 30px 20px !important;
        border:1px solid #000;
        border-radius: 8px;
        padding-bottom: 15px !important;
      }
      .coupon-heading{
        font-size: 24px;
        font-weight: 600;
        text-align: center;
      }
      .c-head{
        color: #fff;
        background: #70b4bd;
        font-size: 24px;
        font-weight: 500;
        padding: 8px 37px;
        text-align: center;
        margin-top: 37px !important;
        width: 90%;
        margin: auto;
      }
      .c-link{
        color: #70b4bd !important;
        font-size: 24px;
        font-weight: 500;
        padding: 8px 37px;
        text-align: center;
        width: 80%;
        margin: auto;
      }
      .c-link a{
        color: #70b4bd !important;
      }
      .coupon-price{
        font-size: 34px;
        text-align: center;
      }
      .sale-heading{
        color: #E8271B;
        font-size: 24px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 48px;
      }
      .sale-time{
        color: #E8271B;
        font-size: 20px;
        font-weight: 300;
        text-align: center;
      }
      .coupon-col .price-head{
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
      }
      .save-text{
        color: #E8271B;
        font-size: 20px;
        font-weight: 500;
      }
      .payment-content{
        font-size: 24px !important;
        font-weight: 300 !important;
        line-height: 34px !important;
        margin-top: 34px !important;
        margin-bottom: 54px !important;
      }
      .payment-content img{
        border-radius: 8px;
        border: 1px solid #000;
        /* padding: 10 6px; */
        
      }
      hr{
        border-top: 1px solid #000 !important;
        opacity: 1 !important;
      }
      .cart-btn{
        width: 90% !important;
        margin: auto;
        border-radius: 0px !important;
        padding: 15px !important;
      }

  /* user analytics */
.user_analytics{
  background-color: #70b4bd ;
  padding: 50px 20px !important;
  border-radius: 5px !important;
  margin-bottom: 40px !important;
}
.user_analytics h3{
  
  font-size: 30px;
}
.user_analytics h2{
  font-size: 37px;
  color: #fff;
}
  /* card boxes styles */
  .card{
    border:0px !important;
    border-radius: 8px;
  }
  .card-header{
    background: #0B5659 !important;
    padding: 6px 14px !important;
  }
  .card-header h4{
    color: #fff !important;
    font-size: 12px !important;
    margin-bottom: 0px !important;
   font-family: 'Sofia Pro Regular Az';

  }
  .card select{
    width: 82px;
    color: #00000080;
    padding: 4px 8px !important;
    font-size: 8px !important;
    height: 20px !important;
    border-radius: 4px;
    font-weight: 300 !important;
    line-height: 9.75px !important;
  }
  .card-heading{
    font-size: 13px;
    font-weight: 500;
  }
  hr{
    border-top: 1px solid #000 !important;
    opacity: 1 !important;
  }
  .card-body .row{
    padding: 0px 12px;
  }
  .card-body .col{
    padding: 0px;
  }
  .progress{
    margin: 0px;
    border-radius: 4px !important;
  }
  .horizontal-bar{
    height: 12px !important;
    margin-right: 10px !important;
  }
  .percentage{
    font-size: 10px;
    margin-bottom: 10px;
  }
  .list-name{
    font-size: 10px;
    margin-bottom: 0px;
  }
.user_analytics .column{
  padding: 5px;
}
.user_analytics .column1{
  width: 46%;
}
.user_analytics .column2{
  width: 27%;
}
.user_analytics .column3{
  width: 27%;
}
.fa-circle{
  font-size: 10px;
  margin-right: 10px;
}
.fa-circle{
  color: #D9D9D966;
}
.fa-circle.active{
  color: #70b4bd;
}

      /* progress bar colors */
      .bg-1{background: #55EFC4 !important; border-radius: 50px;}
      .bg-2{background: #81ECEC !important; border-radius: 50px; }
      .bg-3{background: #74B9FF !important; border-radius: 50px; }
      .bg-4{background: #A29BFE !important; border-radius: 50px; }
      .bg-5{background: #C3C3C3 !important; border-radius: 50px; }
      .bg-6{background: #1ABC9C !important; border-radius: 50px; }
      .bg-7{background: #2ECC71 !important; border-radius: 50px; }
      .bg-8{background: #3498DB !important; border-radius: 50px; }
      .bg-9{background: #9B59B6 !important; border-radius: 50px; }
      .bg-10{background: #34495E !important; border-radius: 50px; }



      /* end of progress bars colors */

      /* circular progress */
      
        .progress-circular{
          width: 150px;
          height: 150px;
          line-height: 150px;
          background: none;
          margin: 62px auto;
          box-shadow: none;
          position: relative;
      }
      .flavor{

        margin:26px auto;
      }
      .progress-circular:after{
          content: "";
          width: 100%;
          height: 100%;
          border-radius: 50%;
          border: 2px solid #fff;
          position: absolute;
          top: 0;
          left: 0;
      }
      .progress-circular > span{
          width: 50%;
          height: 100%;
          overflow: hidden;
          position: absolute;
          top: 0;
          z-index: 1;
      }
      .progress-circular .progress-left{
          left: 0;
      }
      .progress-circular .progress-bar{
          width: 100%;
          height: 100%;
          background: none;
          border-width: 12px;
          border-style: solid;
          position: absolute;
          top: 0;
          
      }
      .progress-circular .progress-left .progress-bar{
          left: 100%;
          border-top-right-radius: 80px;
          border-bottom-right-radius: 80px;
          border-left: 0;
          -webkit-transform-origin: center left;
          transform-origin: center left;
      }
      .progress-circular .progress-right{
          right: 0;
      }
      .progress-circular .progress-right .progress-bar{
          left: -100%;
          border-top-left-radius: 80px;
          border-bottom-left-radius: 80px;
          border-right: 0;
          -webkit-transform-origin: center right;
          transform-origin: center right;
          animation: loading-1 1.8s linear forwards;
      }
      .progress-circular .progress-value{
          width: 85%;
          height: 85%;
          border-radius: 50%;
          
          /* border: 2px solid #ebebeb; */
          font-size: 32px;
          line-height: 125px;
          text-align: center;
          position: absolute;
          top: 7.5%;
          left: 7.5%;
      }
      .progress-circular.blue .progress-bar{
          border-color: #70b4bd;
      }
      .progress-circular.blue .progress-value{
          color: #000;
          font-size: 12px;
      }
      .progress-circular.blue .progress-left .progress-bar{
          animation: loading-2 1.5s linear forwards 1.8s;
      }
      .progress-circular.yellow .progress-bar{
          border-color: #fdba04;
      }
      .progress-circular.yellow .progress-value{
          color: #fdba04;
      }
      .progress-circular.yellow .progress-left .progress-bar{
          animation: loading-3 1s linear forwards 1.8s;
      }
      .progress-circular.pink .progress-bar{
          border-color: #ed687c;
      }
      .progress-circular.pink .progress-value{
          color: #ed687c;
      }
      .progress-circular.pink .progress-left progress-circular.progress-bar{
          animation: loading-4 0.4s linear forwards 1.8s;
      }
      .progress.green .progress-bar{
          border-color: #1abc9c;
      }
      .progress.green .progress-value{
          color: #1abc9c;
      }
      .progress.green .progress-left progress-circular.progress-bar{
          animation: loading-5 1.2s linear forwards 1.8s;
      }
      @keyframes loading-1{
          0%{
              -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
          }
          100%{
              -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
          }
      }
      @keyframes loading-2{
          0%{
              -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
          }
          100%{
              -webkit-transform: rotate(144deg);
              transform: rotate(144deg);
          }
      }
      @keyframes loading-3{
          0%{
              -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
          }
          100%{
              -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
          }
      }
      @keyframes loading-4{
          0%{
              -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
          }
          100%{
              -webkit-transform: rotate(36deg);
              transform: rotate(36deg);
          }
      }
      @keyframes loading-5{
          0%{
              -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
          }
          100%{
              -webkit-transform: rotate(126deg);
              transform: rotate(126deg);
          }
      }
      @media only screen and (max-width: 990px){
          .progress-circular{ margin-bottom: 20px; }
      }
      /* end of circular progress */
      /* vertical progres bar */
      .progress-bar-vertical {
        width: 24px;
        min-height: 200px;
        display: flex;
        border-radius: 0px !important;
        align-items: flex-end;
        margin-right: 20px;
        float: left;
      }
      
      .progress-bar-vertical .progress-bar {
        width: 100%;
        height: 0;
        -webkit-transition: height 0.6s ease;
        -o-transition: height 0.6s ease;
        transition: height 0.6s ease;
      }
      
      /* end of vertical progress bar */
  /* end of card boxes styles */
  /* carousel */
  #brands-carousel .item{
    margin: 10px;
    color: #000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
   }
   .owl-theme .owl-dots, .owl-theme .owl-nav {
    display: flex;
    margin-top: -20% !important;
    font-size: 60px;
    justify-content: space-between !important;
    position: relative;
    z-index: 99999;
   }
   .owl-theme .owl-dots{
    display: none;
   }
   .carousel-item{
    /* transition: transform .6s ease !important; */
   }
  /* end of carousel */
  /* end of product detail page */
  