body{
   font-family: 'Sofia Pro Regular Az';
}

.container{
    /* margin: 0 2% !important; */
    width: 72vw !important;
}
p,li,a{
   font-family: 'Sofia Pro Regular Az';
}
/* headings */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 900;
    line-height: 1.2;
    font-family: "Roboto", sans-serif;
  }
  
  h1, .h1 {
    font-size: calc(1.345rem + 1.14vw);
  }
  
  @media (min-width: 1200px) {
    h1, .h1 {
      font-size: 2.2rem;
    }
  }
  
  h2, .h2 {
    font-size: calc(1.315rem + 0.78vw);
  }
  
  @media (min-width: 1200px) {
    h2, .h2 {
      font-size: 1.9rem;
    }
  }
  
  h3, .h3 {
    font-size: calc(1.29rem + 0.48vw);
  }
  
  @media (min-width: 1200px) {
    h3, .h3 {
      font-size: 1.65rem;
    }
  }
  
  h4, .h4 {
    font-size: calc(1.265rem + 0.18vw);
  }
  
  @media (min-width: 1200px) {
    h4, .h4 {
      font-size: 1.4rem;
    }
  }
  
  h5, .h5 {
    font-size: 1.15rem;
  }
  
  h6, .h6 {
    font-size: 12px !important;
  }
  /* headings end  */
  p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 12px;
  }
  /* button */
  .btn{
    background:#000;
    color:#f31616;
    border: 1px solid #000 ;
    text-transform: uppercase !important;
    font-size: 12px !important;
   font-family: 'Sofia Pro Regular Az';
   
   

  }


.btn-light {
    border: 1px solid #000 !important;
    background-color: #fff !important;
}
 .btn-dark{
  border: 1px solid #000 !important;
    background-color: #000 !important;
    color:#fff !important;
 }
/* end of button */
.mt-10{
  margin-top:10px;
}
.mt-20{
  margin-top:20px;
}
.mt-30{
  margin-top:30px;
}
.mt-40{
  margin-top:40px;
}
.mt-50{
  margin-top: 50px;
}
.mb-10{
  margin-bottom: 10px;
}
.mb-20{
  margin-bottom: 20px;
}
.mb-30{
  margin-bottom: 30px;
}
.mb-40{
  margin-bottom: 40px;
}
.mb-50{
  margin-bottom: 50px;
}
/* form fields */
input{
  border-radius: 0px !important;
  border:1px solid #000 !important;
}
select {
  word-wrap: normal;
  width: 100%;
  height: 38px !important;
  border: 1px solid #000;
  border-radius: 0px;
  padding: 9px 14px !important;
  font-size: 13px !important;
  font-family: 'Sofia Pro Regular Az' !important;
}
/* end of form fields */
/* Tobar css */
.top-bar p{
    color:#dde0e3;
    font-size: 10px;
    margin-left: 10px;
    margin-top: 5px;
    font-weight: 600;
}
/* end of topbar css */
/* header styles */
.active {
  background-color: rgb(255, 255, 255);

}
.active .nav-link{
  color:#000 !important;
}

.home .active .nav-link{
  color:#000 !important; /* for only homepage */
}
.active .border-end-dark{
  border-right: 1px solid #000 !important;
}
/* end of header styles */
/* nav menu */

.home .nav-link{
    font-size: 10px !important;
    font-weight: 600 !important;
    color: #fff !important; /* for only homepage */
    line-height: 14.63px;
}
.nav-link{
  font-size: 10px !important;
  font-weight: 600 !important;
  color: #000 !important;
  line-height: 14.63px;
}
.nav-item{
    padding:0 5px;
}
@media screen and (max-width: 1024px){
  .nav-item{
    padding:0 0px !important;
  }
  .nav-link{
    font-size: 8px;
  }
}
.nav-item i{
    width: 20px !important;
    height: 20px !important;
}
.border-end-dark{
  border-right: 1px solid #fff !important;
}
#collapsibleNavbar1{
  justify-content: end;
}
/* end of navmenu */
/* breadcrumb-item */
.breadcrumb-item{
  color:#000;
  font-size: 11px;
}
/* end of breadcrumb-item */
/* Product box */
.product_img{
  width: 100%;
 }
 .product_box{
  margin: 10px 0px;
  /* width: 205px; */
 }
 .product-overlay {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #fff;
  padding: 1rem 0;
  bottom:40%;
  opacity: 0;
  transition: all 0.3s;
 }

 .product_box_3:hover .product-overlay, .product_box:hover .product-overlay {
  opacity: 1;
 }
 .product_box p{
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 7px;
 }
 
 .rating li{
  font-size: 12px;
 }
 @media (max-width: 1200px) {
  .rating li{
    font-size: 11px;
  }
 }
 .sale_price{
  font-size: 12px;
  font-weight: 600;
 font-family: 'Sofia Pro Regular Az';
  margin-right: 5px;
 }
 .org_price{
  font-size: 12px;
  font-weight: 400;
 font-family: 'Sofia Pro Regular Az';
 }
 /* end of product box */
 /* Product box 3columns */
.product_box_3 img{
  width: 100% !important;
 }
 .product_box_3 .product_name{
  font-size: 13px;
  font-weight: 600;
 }
 .product_box_3 .product_category{
  font-size: 10px;
  font-weight: 500;
 }
 .product_box_3 p{
  margin-bottom: 10px;
 }
 .user_text{
  font-size: 12px;
  font-weight: 500;
 }
 /* end product box 3 columns */
   /* progress bar */
   .progress{ 
    border-radius: 0px !important;
    margin: 10px 0;
  }
  .bg-ten{ background: #55EFC4 !important; }
  .bg-twenty{ background: #81ECEC !important; }
  .bg-thirty{ background: #74B9FF !important; }
  .bg-fourty{ background: #A29BFE !important; }
  .bg-fifty{ background: #C3C3C3 !important; }
  .bg-sixty{ background: #1ABC9C !important; }
  .bg-seventy{ background: #2ECC71 !important; }
  .bg-eighty{ background: #3498DB !important; }
  .bg-ninety{ background: #9B59B6 !important; }
  .bg-hundered{ background: #34495E !important; }
/* end of progress bar styles */
/* footer */
footer{
  background-color: #fff !important;
}
.sub-heading{
  font-weight: 500;
}
.footer-menu-section{
  border-top: 1px solid #000;
}
.footer-menu-section h6{
  margin-bottom: 20px !important;
}
.footer-menu-section li{
  font-size: 12px;
  margin: 11px 0;
}
.footer-menu-section li a{
  color: #000;
  text-decoration: none;
}
.copyright{
  font-size: 10px;
}
.footer-menu-div{
}
.footer-menu-div a{
   font-size: 10px;
   color: #000;
   text-decoration: none;
   border-right:1px solid #000;
  padding: 0 10px;
}
/* end of footer */



